.chart{
    width: 200px;
}

.thermo-radial{
    margin-left: 30px;
}

.flex-box{
    display: flex;
}

.flex-box > div {
    border: 2px solid red;
    margin: 8px;
    height: 100%;
}
.flex-box > div:hover {
    background-color: gray;
}

.text-below-widget{
    margin-top: 15px;
}